
nav.navbar{
    background-color: #00796B
}
a.nav-link-navbar, a.navbar-brand{
    color: white;
    padding: 10px;
}
a.nav-link-sidebar, a.nav-link-bar{
    color: tomato;
}
.nav-item-sidebar {
    padding-left: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 18px;
}

a.nav-item-bar
{
    font-size: 18px;
    padding: 10px;
}
main{
    padding: 10px;
}
.btn-default, a.btn-default{
    background-color: #00796B;
    color: white;
}
.alert {
    padding: 12px;
    border-radius: 3px;
    font-size: 1.2rem;
    margin-bottom: 16px;
    border-width: 2px;
    border-style: solid;
}
  
.alert-error {
    border-color: darkred;
    background-color: red;
    color: white;
}
  
.alert-info {
    border-color: orange;
    background-color: yellow;
    color: black;
}
